<h1>MyPhotos#new</h1>
<div class="main-box">
	<%= form_for @myphoto, url: my_photos_path do |f| %>
		<%= f.attachment_field :image %>
		<%= f.text_field :title, placeholder: "タイトル" %>
		<%= f.submit "投稿" %>
	<% end %>
</div>
