<title>MyPhotos#show</title>
<div class="main-box">
	<div class="photo-background">
		<div class="">
			<%= attachment_image_tag @photo, :image, class: "showpage-photo" %>
		</div>
		<div class="photo-slide-left">
			<
		</div>
		<div class="photo-slide-right">
			>
		</div>
	</div>
	<div class="photo-details">
			写真詳細情報
			<div class="camera-image">

			</div>
			<div class="">
				
			</div>
	</div>
</div>



