<% if current_user.followers_count == 0 %>
	<div class="item">
		<font color="gray"><div align="center">フォロワーはいません</div></font>
	</div>
<% else %>
	<% current_user.followers.reverse.each do |follower| %>
			<%= link_to user_path(follower), class: "item filter-drop-shadow", style: "display:flex; justify-content:flex-start;" do%>
				<%= attachment_image_tag follower, :thumbnail, fallback: 'user_preset_image.png', class: "sub-header-dropdown-user-icon" %>
				<%= follower.nickname %>
				<!-- <span><font size="2" color="gray"><%#= follower.created_at.strftime('%-m月%-d日') %></font></span> -->
			<% end %>
	<% end %>
<% end %>