<title>HOME全ユーザー写真投稿一覧</title>
<div class="main-box" style="position:relative;">
	<div class="main-visual">
		<%#= attachment_image_tag @rand_photo, :image, class: "main-visual" %>
		<img id="t-m-v" src="/header-image.jpg" class="header-image">
	</div>
		<%= render 'layouts/sub_header', photo: @photo %>
		<h2 align="center">All User Photos</h2>
		<div class ="index">
			<%= render 'index', photos: @photos %>
		</div>
		<div style="padding-bottom:50px;" align="center">
			<%= link_to_next_page @photos, "more", remote: true, id: "more_link", class: "ui inverted secondary button" %>
		</div>
</div>


<script>


	$(function() {
		$('#t-m-v').fadeIn(2000);
		// $('#index').click(function(){
		// 	$('#more_link').fadeIn(1000);
		// });

		$('.img').hover(
			function() {
				$(this).find($('.overlay-fillter')).stop().fadeIn(200);
				//マウスカーソルが重なった時の処理
			},
			function() {
				//マウスカーソルが離れた時の処理
				$(this).find($('.overlay-fillter')).stop().fadeOut(200);
			}
		);

	});


</script>
