<div class="top-bg">
	<div class="contents-box">
		<p class="catch-copy">写真で繋がるSNS</p>
		<div style=";padding-top:120px;margin: 0 auto;" align="center">
			<img src="/assets/totte-logo.png" style="width:250px;">
		</div>
		<div class="buttons" style="margin-top:30px;">
			<%= link_to new_user_registration_path do %>
				<div type="" class="entrance-button">新規登録</div>
			<% end %>
			<%= link_to new_user_session_path do %>
				<div type="" class="entrance-button">サインイン</div>
			<% end %>
		</div>

		<div class="sns-icons-box">
			<a style="color:white;" href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank">
				<i class="fab fa-facebook-square fa-4x"></i>
			</a>

			<a style="color:white;" href="https://twitter.com/share?url=<%= request.url %>&text=写真で繋がるSNS totte" rel="nofollow" target="_blank">
				<i class="fab fa-twitter-square fa-4x"></i>
			</a>

			<a style="color:white;" href="http://line.me/R/msg/text/?http://totte.biz" rel="nofollow" target="_blank">
				<i class="fab fa-line fa-4x"></i>
			</a>
		</div>
	</div>
</div>