<title>アルバム詳細</title>
<div class=my-album-main-box style="background-color:aliceblue;">
	<%= render 'layouts/sub_header', photo: @photo%>
	<div class = "main-contents-box">
		<div class="my-album-item-header-photo">
			<%= attachment_image_tag @album.album_items.order("RANDOM()").first.photo, :image, class: "my-album-item-header-photo" %>
			<div class="my-album-item-header-photo-filter">
				<div style="text-align:center;padding-top:200px;">
					<font color="silver" size="5">ここにタイトルがきます</font><%= @album.title %>
				</div>
			</div>
		</div>
		<div class="my-album-items-box">
			<% @album_items.each do |album_item| %>
					<%= attachment_image_tag album_item.photo, :image, class: "my-album-item" %>
			<% end %>
		</div>
	</div>
</div>