<title>current_userアルバム詳細</title>
<div class=my-album-main-box>
	<%= render 'layouts/sub_header'%>
	<div class = "main-contents-box">
		<div class="my-album-item-header-photo">
			<%= attachment_image_tag @album.album_items.first.photo, :image, class: "my-album-item-header-photo" %>
		</div>
		<div class="my-album-items-box">
			<% @album_items.each do |album_item| %>
					<%= attachment_image_tag album_item.photo, :image, class: "my-album-item" %>
			<% end %>
			<div class="my-album-item">
				photo
			</div>
			<div class="my-album-item">
				photo
			</div>
			<div class="my-album-item">
				photo
			</div>
		</div>
	</div>
</div>