<title>HOME</title>
	<%= render 'layouts/sub_header' %>

	<div class="photo-contents-box">
<!-- each start -->
		<div class="content-box">
			<div class="photo-box">
				<div class="img">
				img
				</div>
				<div class="img-summ">
				summary
				</div>
			</div>
		</div>
		<!-- each end -->
		<div class="content-box">
			<div class="photo-box">
				<div class="img">
				img
				</div>
				<div class="img-summ">
				summary
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="photo-box">
				<div class="img">
				img
				</div>
				<div class="img-summ">
				summary
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="photo-box">
				<div class="img">
				img
				</div>
				<div class="img-summ">
				summary
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="photo-box">
				<div class="img">
				img
				</div>
				<div class="img-summ">
				summary
				</div>
			</div>
		</div>

	</div><!-- content-box end -->