<title>photo_show</title>
	<div class="main-box">
		<div class="slide-show-box">
			スライド
		</div>
		<div class="photo-details-box">
			カメラ情報　撮影位置
			<div class="camera-image">

			</div>
			<div class="photo-datas-box">
				
			</div>
		</div>
	</div>