// Place all the styles related to the my_albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*----------------------------------------*/

.your-photos-mini{
	width: 218px;
	height: 218px;
	/*background-color: red;*/
	margin: 5px;
	box-shadow: 3px 3px 5px gray;
	transition: box-shadow 50ms;
	object-fit: fill;
}
.your-photos-mini:hover{
	box-shadow: 0px 0px 5px 3px purple;
}
.your-photos-mini-selected{
	width: 218px;
	height: 218px;
	background-color: red;
	margin: 5px;
	box-shadow: 0px 0px 5px 5px purple;
}
.selected-filter{
	position: relative;
	width: 218px;
	height: 218px;
	margin: 5px;
	box-shadow: 0px 0px 5px 5px purple;
}
.filter-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.my-album-main-box{
	position: relative;
	width: 100%;
	/*background: linear-gradient(to right, gray, white, gray);*/
	z-index: 0;
}
.my-album-item-header-photo{
	width: 100%;
	height: 400px;
	object-fit: cover;
	position: relative;
}
.my-album-item-header-photo-filter{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
}
	.my-album-items-box{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90%;
    	margin: 0 auto;
    	padding-bottom: 10px;
	}
	.my-album-item{
		position: relative;
		width: 50%;
		height: 350px;
		padding: 1px;
    	margin-top: 1px;
	}
.my-album-item-title{
	position: absolute;
	bottom: 0;
	left: 0;
}
.album-item-index-box{
	 display:flex;
	 flex-direction:row;
	 justify-content:flex-start;
	 flex-wrap:wrap;
}


@media screen and (max-width:1024px) {

}


@media screen and (max-width:768px) {

}


@media screen and (max-width:425px) {
		h2{
			display:none;
		}
		.ui.dropdown > .left.menu {
		    left: auto !important;
		    right: 0px !important;
		}
		.album-item-index-box{
			width: 98%;
			max-height: 500px;
		    margin: 0 auto;
		    display: flex;
		    flex-direction: row;
		    justify-content: flex-start;
		    flex-wrap: wrap;
		    overflow-y: auto;
		}
		.your-photos-mini {
		    width: 115px;
		    height: 115px;
		    /* background-color: red; */
		    margin: 2px;
		    box-shadow: 3px 3px 5px grey;
		    transition: box-shadow 50ms;
		    object-fit: fill;
		}
		.your-photos-mini:hover{
			box-shadow: 0px 0px 5px 5px purple;
		}
		.your-photos-mini-selected{
			width: 115px;
			height: 115px;
			background-color: red;
			margin: 2px;
			box-shadow: 0px 0px 5px 5px purple;
		}
		.selected-filter{
			position: relative;
			width: 115px;
			height: 115px;
			margin: 2px;
			box-shadow: 0px 0px 5px 5px purple;
		}
		.my-album-item-header-photo {
		    width: 100%;
		    height: 300px;
		    object-fit: cover;
		    position: relative;
		}
		.my-album-item-header-photo-filter {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0, 0, 0, 0.5);
		}
}