// Place all the styles related to the my_albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*----------------------------------------*/

.your-photos-mini{
	width: 218px;
	height: 218px;
	background-color: red;
	margin: 5px;
	box-shadow: 3px 3px 5px gray;
	transition: box-shadow 50ms;
}
.your-photos-mini:hover{
	box-shadow: 0px 0px 5px 3px purple;
}