// Place all the styles related to the my_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*-----------------------------------------------------*/
.photo-background{
	position: relative;
	width: 100%;
	height: 500px;
	background: linear-gradient(#402B2B, black);
	z-index: -1;
}
.showpage-photo{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	width: 700px;
    height: 450px;
	/*background-color: pink;*/
}
.photo-details{
	position: relative;
	width: 80%;
	border-top: solid 1px silver;
	margin: 0 auto;
	/*background-color: silver;*/
	z-index: 0;
	display: flex;
}
.photo-slide-left{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 250px;
    left: 300px;
    right: 0;
    bottom: 0;
    /*margin: 250px auto;*/
	font-size: 100px;
	color: rgba(255, 255, 255, 0.4);
	transition: left 300ms, width 300ms;
}
.photo-slide-left:hover{
	left: 280px;
	width:100px;
}
.photo-slide-right{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 250px;
    left: 1080px;
    /*right: 300px;*/
    bottom: 0;
    /*margin: 250px auto;*/
	font-size: 100px;
	color: rgba(255, 255, 255, 0.4);
	transition: left 300ms, width 300ms;
}
.photo-slide-right:hover{
	left: 1100px;
	width:100px;
}
.my-photos-box{
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.my-photo-img{
	position: relative;
	width: 49%;
	height: 400px;
	background: linear-gradient(30deg, gray, silver);
	margin: 3px;
	box-shadow: 3px 3px 3px gray
}
.my-photos-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.photos-index{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	/*background-color: darkred;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: linear-gradient(black, transparent);
}
.photo-block{
	width: 30px;
	height: 30px;
	margin: 0 3px;
	background-color: pink;
}
.user-details{
	border-top: solid 1px silver;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.user-icon-circle{
	width: 130px;
	height: 130px;
	margin: 25px;
	border-radius: 50%;
	background: linear-gradient(135deg, #64EFA5, #1B87F4) ;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
.user-info-box{
	/*background-color: silver;*/
	padding: 15px;
	margin-top: 25px;
}
	.user-name{

	}
	.user-join-year{

	}
.table-box{
	width: 50%;
	margin: 50px auto;
}
.camera-names{
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 30px;
}
.exif-contents-box{
	width: 300px;
	background-color: silver;
	margin: 10px;
}
.mapping-box{
	width: 400px;
	/*background-color: skyblue;*/
}
.map-box{
	width: 100%;
	height: 300px;
	/*margin: 0 auto;*/
	background-color: white;
	/*border-radius: 5px;*/
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4)
}