// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*-==========================*/

.header-image{
	width:100%;
	height:300px;
	object-fit:cover;
	display:none;
}



@media screen and (max-width:768px) {

}

@media screen and (max-width:425px) {
	.header-image{
		width: 100%;
		height: 250px;
		object-fit: cover;
		display:none;
	}

}