<header id="header-fixed" class="">
	<div class="headline-box">
		<div class="headline-icons">
			<div class="">
				<img src="/assets/totte-logo.png" class="brand-logo">
			</div>
		</div>
		<div class="headline-user-icon">
			user_icon
		</div>
	</div>
</header><!-- /header -->