<div class="sub-header">
	<div class="subheader-contents" style="display:flex">
		<div class="" style="margin:5px 10px 5px 10px;">
			photos
		</div>
		<div class="" style="margin:5px 10px 5px 10px;">
			albums
		</div>
	</div>
</div>