<div class="sub-header">
	<div class="subheader-contents" style="display:flex">
		<%= link_to photos_path do %>
		<div class="" style="margin:5px 10px 5px 10px;">
			photos
		</div>
		<% end %>
		<%= link_to albums_path do%>
		<div class="" style="margin:5px 10px 5px 10px;">
			albums
		</div>
		<% end %>
	</div>
</div>